<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Fashion Store</title>
</head>

<body>
    <div>
        <div>
            <h1>Yusuf/Roland Fashion Store</h1>
        </div>
        <div>
            <p>Hello <%=user.fullname%>
            </p>
            <p>Kindly click on the link below to reset your forgotten password:</p>
            <h2>
                <%=text%>
            </h2>
            <p>This link will expire in the next 5 minutes if not used</p>
            <p>If you did not authorize this operation kindly report to the school management.</p>
        </div>
        <div>
            <p>If you have any questions, please do not hesistate to contact us at
                <a href="">support@gmail.com</a>
            </p>
        </div>
    </div>
</body>

</html>