.links {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px s; */
}
.links_text {
  font-size: 0.9rem;
  padding: 10px;
}
.links_text:hover{
  color: #F4BF96;
}
.links_pages {
  font-size: 0.85rem;
  padding: 10px ;
  margin-left: 15px;
  cursor: pointer;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.logo{
  width: 20%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .logo{
    width: 35%;
  }
}
.active {
  font-size: 0.9rem;
  padding-bottom: 5px;
  padding: 7px;
  color: #F4BF96;
  border-bottom: 1.5px dotted #F4BF96;
}
.pages {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  
}
.pages_products {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.pages_dropdown {
  position: absolute;
  top: 40px;
  width: 210px;
  background-color: #ffffff;
  /* height: 60px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  display: none;
}
.pages:hover .pages_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products_dropdown {
  position: absolute;
  top: 30px;
  left: 205px;
  width: 200px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  display: none;
}
.pages_products:hover .products_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Mobile Navbar styles */
.link_tag {
  text-decoration: none;
  color: #F4BF96;
  font-size: 0.9rem;
  
}
.iconHover {
  color: #F4BF96;
}
.buttonHover{
  background-color: red;
}
